.listMain .header input {
padding:10px;
font-size: 20px;
border:2px solid #fff;
width:170px;

}

.listMain .header button{
padding:10px;
font-size: 20px;
margin: 10px;
margin-right: 0px;
background-color: #0066FF;
color:#fff;
border:2px solid #0066ff;

}


.listMain .header button:hover{
background-color: #003399;
border:2px solid #003399;
cursor: pointer;
}

.listMain .theList {

	list-style: none;
	padding-left:0px;
	width:250px;
}

.listMain .theList li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
  transition: background-color .2s ease-out;
}

.listMain .theList li:hover{
	background-color: pink;
	cursor:pointer;
}

ul.theList {
	padding:0;
}
